.radio {
    display: flex;
    flex-direction: column;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    flex-direction: row;
    width: 100px;
    /*justify-content: space-around;*/
}

.options {
}
