.greetingForm {
    margin-left: 50px;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.error {
    color: red;
}

.input {
    border-color: black;
    height: 30px;
    border-radius: 10px;
    width: 350px;
}

.input:focus {
    border-color: red;
}

.errorInput {
    border-color: red;
    height: 30px;
    border-radius: 10px;
    width: 350px;
}

.button {
    width: 70px;
    height: 30px;
    background: #0066cc;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    margin-top: 20px;
}

.greeting {

}
